/* * {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 55% 45%;
}

.sideLogin {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-auto-rows: 30% 50% 20%;
}

header {
  place-self: center;
  font-weight: bold;
  font-size: 32px;
}

.formLogin {
  place-self: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

.descripcionLogin{
  font-size: 25px;
  color: #777777;
}

.sectionVerde {
  background-color: #39a900;
  width: 100%;
  height: 100vh;
}

input {
  width: 22em;
  height: 28px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 12px;
}

button {
  width: 22em;
  height: 30px;
  border-radius: 5px;
  background-color: #39a900;
  border: 0px;
  color: white;
  font-weight: bolder;
}

.icon {
  width: 15px;
  height: 15px;
  margin: 3px 0px 0 5px;
}

form{
  display: flex;
  flex-direction: column;
}

section {
  width: 50%;
}

footer {
  place-self: flex-end;
} */
